@model IEnumerable<Post>
<!-- post widget -->
<div class="aside-widget">
    <div class="section-title">
        <h2 style="border-bottom:1px solid #ccc;">En Çok Okunanlar</h2>
    </div>
    @foreach (var item in Model)
    {
        <div class="post post-widget">
            <a class="post-img" asp-controller="Post" asp-action="Details" asp-route-id="@item.Id"><img src="/lib/img/@item.Image" alt=""></a>
            <div class="post-body">
                <h3 class="post-title"><a asp-controller="Post" asp-action="Details" asp-route-id="@item.Id">@item.Name - @item.Description</a></h3>
            </div>
        </div>
    }
</div>
<!-- /post widget -->
